.jobstats{
    float: left;
    width: 97.5%;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: white;
    margin-left: 15px;
}

.jobSearchBar{
    background-color: #5c6f7c;
    padding : 5%;
}

#padding{
padding : 10px
}

.searchButton{
    
}

#heading{
    padding-bottom: 2%;
}
#jobcard{
    height:"30%";
}

.left-job-detail{
    border-right: 2px;
    border-style: solid;
    margin-left: 10%;
    height: auto;
}

.job-view{
    
}