.jobstats{
    float: left;
    width: 97.5%;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: white;
    margin-left: 15px;
}

.jobSearchBar{
    background-color: #5c6f7c;
    padding : 5%;
}

#padding{
padding : 10px
}

.companies-info-background{
    background-color: white;
    margin-left: 15%;
    padding-top: 0px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}
.searchButton{

}

.appliedjobs{
    padding: 1.5%;
    background-color: white;
    margin-left: 15%;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    background-color: #fff;
    background-clip: padding-box;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bluetext{
    text-decoration: none;
    font-weight: 600;
    border: 0;
    color: #0073b1;
}
.btn-save{
    border-color: #0073b1;
    color: #0073b1;
}

.company-save-apply{
    margin-right: 60%;
    margin-top: 2%;
    text-decoration: none;
    font-weight: 600;
    color: #0073b1;
}

.lightgreytext{
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0,0,0,.6);
}
.smallheading{
    color: rgba(0,0,0,.9);
    font-size : 20px;
    line-height: 1.4;
    padding: 24px;   
}

.greybackground{
    border-top: 1px solid #e4e4e4;
}

.inputtext{
    color: black !important;
    font-size : 13px;
}


#heading{
    padding-bottom: 2%;
}
#jobcard{
    height:"30%";
}

.left-job-detail{
    
    height: auto;
}

.job-view{
    padding-right: 0px;
    border-right: 0px;
    background: white;
    height: 650px;
    min-height: 650px;
    max-height: 650px;
    overflow-y: scroll;
}



/****************JOB CARD CSS*****************/

.job-card-image
{
    width : 60px;
    max-width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    border : 1px solid grey;
}


.left-job-detail 
{
    /* margin-left: 10%; */
    /* height: auto; */
    position: relative;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.left-job-detail-image 
{
    position: relative;
    height: 100%;
    padding: 0px;
    text-align: center;
}
/********************************************/

.job-detail{
    
        padding-right: 0px;
        border-right: 0px;
        background: white;
        height: 650px;
        
        min-height: 650px;
       
        max-width: 100%;
        overflow-y:auto;
        border-left: 1px solid rgb(206, 200, 200);
       
}

.job-detail-image
{
    width : 120px;
    max-width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    border : 1px solid grey;
}

.heading-company{
    font-family:'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 20px;
    padding-bottom: 2%;

}
.heading-company3{
    font-family:'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 18px;
    padding-bottom: 2%

}

.heading-location{
    font-family:'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 16px;
    padding-bottom: 2%;
    color: rgba(0, 0, 0, 0.6);
    ;

}
.heading-location3{
    font-family:'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 14px;
    padding-bottom: 1%;
    padding-top: .5%;
    color: rgba(0, 0, 0, 0.6);
    ;

}
.heading-location4{
    font-family:'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 14px;
    padding-bottom: 2%;
    color:black;
    font-weight: 600;

}

.heading-location-button{
    font-family:'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 16px;
  
    padding-bottom: 4%;
    color: rgba(0, 0, 0, 0.6);
    ;

}
.inline-block-child {
    display: inline-block;
  }

.easy-apply{
    background-color: rgb(0, 98, 154);
    color:white;
    font-weight: bold;
    
}


.job-description-partition{
    white-space: normal;
    word-break: break-word;
    text-align: justify;
}
.skill-name{
    color: black;
    font-size: 12px;
    padding-bottom: 4%;
}

.image-tick{
    text-align: center;
    padding-left: 0;
    padding-right: 0;

}

#target2{
    width: 160px;
    height: 80px;
    border-radius: 50%;
    
    
    object-fit: cover;
    
    object-position: center right;
  }

  #recuiter-name{
    color: black;
    font-size: 16px;
    padding-bottom: 4%;
  }
  #recruiter-title{
    color: rgb(56, 52, 52);
    font-size: 1px;
    
  }

  .job-location1{
      font-size:12px;
      font-weight: bold;

  }

  .job-location2{
      padding-top: 4%;
      padding-bottom: 10%;
  }




  /* ******************  CSS for Job Page  ***************** */

  .mrg-top14{
    margin-top: -14%;
  }
  .p10{
      padding: 10px
  }
  .comp-profile-logo{
    border-radius: 0px;
    padding: 26px;
    margin-left: -9%;
    margin-top: auto;
  }
  .comp-profile-details{
    padding-top: 10px;
    margin-left: -10%;
    margin-top: 1.6%;
  }
  .no-border{
      border: none;
  }
  .btm-border{
    border: 1px solid #e5e5e5
  }
  .job-text{
    color : rgba(0,0,0,.6);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.42857;
  }
/**************CSS for Jobsaved************/

  .job-save-card{

    margin-top: 2%;
    text-decoration: none;
    font-weight: 600;
    color: #0073b1;
    margin-left: 146px;
  }

  .job-card-image-easy-apply
{
    width : 100px;
    max-width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 50%;
    border : 1px solid grey;
}


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn1 {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .activeCard {
      background: rgba(152, 216, 244, 0.25)

  }

  #card-card1{
    display: block;
    width: 80%;
    height: auto;
    padding-top: 5px;
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  #foot1{
      background-color: burlywood;
  }

  #card-heading-saved{
      padding-bottom: 5px;
      text-align: left;
      padding-top: 2%;
  }
  #jobsavedheading{
      color: black;
      font-family:'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
      font-size: 20px;
    }

    #cb{
        padding-bottom: 10%;
        padding-left: 0px;
    }
      #down{
          background-color: #f6f7f8;
          width:100%;
          height:20%;
          padding-bottom: 1px;
          padding-top:10px;
      }

      #propdetails{
        font-family:'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
        font-size: 14px;
      }
      #propdetails1{
        font-family:'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
        font-size: 16px;
        color: black;

      }